@import "../../assets/css/mixins/styles";
@import "../../assets/css/mixins/medias";

.bridge {
  &-swap {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 24px;

    @include max($mobile-s) {
      flex-direction: column;
      gap: 0;
    }

    .select,
    .pill {
      flex: 1;

      @include max($mobile-s) {
        width: 100%;
      }
    }

    .pill {
      @include max($mobile-s) {
        gap: 8px;
        padding: 12px 20px;
      }
    }

    &-switch {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      background-color: var(--c-mulled-wine);
      border-radius: 50%;

      @include max($mobile-s) {
        margin: -8px 0;
        position: relative;
        z-index: 1;
      }
    }
  }

  &-amount {
    margin-top: 32px;

    &-wrap {
      margin-bottom: 24px;

      &[data-disabled="true"] {
        position: relative;
        opacity: 0.5;

        &:before {
          content: "";
          position: absolute;
          inset: 0;
          z-index: 10;
        }
      }
    }

    &-subtitle {
      color: var(--c-lavender);
    }
    &-value {
      display: flex;
      align-items: baseline;
      gap: 12px;
      color: var(--c-lavender);
      font-weight: 600;
      font-size: 36px;

      span {
        color: var(--c-white);

        &:last-of-type {
          font-size: 20px;
          opacity: 0.5;
        }
      }
    }
    &-swap {
      display: flex;
      gap: 8px;
      font-weight: 600;
      color: var(--c-lavender);
      margin-top: 16px;

      @include max($mobile-s) {
        flex-direction: column;
      }

      &-input {
        flex-grow: 1;
      }

      &-actions {
        display: flex;
        gap: 8px;

        .button {
          height: 100%;
          padding: 0 20px;
          background: var(--c-martinique);

          @include max($mobile-s) {
            padding: 8px 20px;
          }
        }
      }
    }

    &-cost {
      display: flex;
      justify-content: center;
      margin-top: 32px;
      color: var(--c-lavender);
    }

    &-submit {
      margin-top: 8px;

      .button {
        width: 100%;
      }

      & + .alert {
        margin-top: 24px;
      }
    }
  }
  &-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
  }
  &-warn {
    color: var(--c-lavender);
    text-align: center;
    padding-bottom: 24px;
  }
}
