@import "../mixins/medias";

:root {
  --ff-base: "Gilroy", sans-serif;

  --header-height: 80px;
  --header-nav-mobile: 80px;

  --c-white: #ffffff;
  --c-lavender: #897fac;
  --c-martinique: #302b44;
  --c-mulled-wine: #4e4962;
  --c-cinder: #0e0c11;
  --c-bastille: #1b1621;
  --c-denim: #1573e6;
  --c-fog: #ded2ff;
  --c-mint-green: #69ffa5;
  --c-mint-orange: #ff8c00;
  --c-mint-red: #ff4935;
  --c-soft-green: #69ffa540;

  @include max($mobile-s) {
    --header-height: 72px;
  }
}
