@import "../mixins/medias";

:root {
  --ff-base: 'Gilroy', sans-serif;

  --header-height: 80px;
  --header-nav-mobile: 80px;

  --c-white: #ffffff;
  --c-lavender: #897FAC;
  --c-martinique: #302B44;
  --c-mulled-wine: #4E4962;
  --c-cinder: #0E0C11;
  --c-bastille: #1B1621;

  @include max($mobile-s) {
    --header-height: 72px;
  }
}
