@import "../../assets/css/mixins/styles";
@import "../../assets/css/mixins/medias";

.poolNew {
  &-header {
    display: flex;
    align-items: center;
    gap: 32px;

    .button path {
      fill: none !important;
    }
  }

  &-content {
    &[data-disabled="true"] {
      position: relative;
      opacity: 0.5;

      &:before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 10;
      }
    }
  }

  &-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px !important;

    &-title {
      display: flex;
      gap: 8px;
      font-size: 18px;

      span {
        color: var(--c-lavender);
      }
    }
  }
  &-pair {
    display: flex;
    align-items: center;
    gap: 8px;

    @include max($mobile-s) {
      flex-direction: column;
      gap: 0;
    }

    .select {
      flex: 1;

      @include max($mobile-s) {
        width: 100%;
      }
    }

    &-switch {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      background-color: var(--c-mulled-wine);
      border-radius: 50%;
      cursor: pointer;

      @include max($mobile-s) {
        margin: -8px 0;
        position: relative;
        z-index: 1;
      }
    }
  }

  &-range {
    position: relative;
    display: flex;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid var(--c-martinique);

    &-price {
      width: 50%;

      & + & {
        border-left: 1px solid var(--c-martinique);
        padding-left: 24px;
      }
    }

    &-label {
      color: var(--c-lavender);
    }

    &-input {
      position: absolute;
      left: 24px;
      right: 24px;
      bottom: -2px;

      .multi-range-slider {
        border: 0;
        padding: 0;

        .bar-left,
        .bar-right,
        .bar-inner {
          border: 0;
          padding: 0;
          height: 4px;
          box-shadow: none;
          background-color: var(--c-martinique);
        }
        .bar-inner {
          background-color: var(--c-lavender);
        }

        .caption * {
          background-color: var(--c-lavender);
        }
      }
    }
  }

  &-amounts {
    display: flex;
    gap: 24px;

    &-equal {
      color: var(--c-lavender);
      margin-top: 12px;
    }

    &-wrap {
      margin-bottom: 24px;
    }

    &-subtitle {
      color: var(--c-lavender);
    }
    &-value {
      display: flex;
      align-items: baseline;
      gap: 12px;
      color: var(--c-lavender);
      font-weight: 600;
      font-size: 36px;

      span {
        color: var(--c-white);

        &:last-of-type {
          font-size: 20px;
          opacity: 0.5;
        }
      }
    }
    &-swap {
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-weight: 600;
      color: var(--c-lavender);

      @include max($mobile-s) {
        flex-direction: column;
      }

      &-input {
        flex-grow: 1;
      }

      &-actions {
        display: flex;
        gap: 8px;

        .button {
          height: 100%;
          padding: 4px 12px;
          background: var(--c-martinique);

          @include max($mobile-s) {
            padding: 8px 20px;
          }
        }
      }
    }

    &-cost {
      display: flex;
      justify-content: center;
      margin-top: 32px;
      color: var(--c-lavender);
    }
  }

  &-submit {
    margin-top: 24px !important;

    .button {
      width: 100%;
    }

    & + .alert {
      margin-top: 24px;
    }
  }
}
