.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 24px;
    border-radius: 100px;
    background: linear-gradient(270deg, #9a23e6 -0.49%, #5519ee 99.51%);
    color: var(--c-white);
    transition: transform .2s ease-out;

    path {
        fill: var(--c-white);
    }

    &:active {
        transform: scale(.95);
    }
}