.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 24px;
  border-radius: 100px;
  background: linear-gradient(270deg, #9a23e6, #5519ee, #9a23e6);
  background-size: 200% 100%;
  color: var(--c-white);
  transition: all 0.2s ease-out;

  &:hover {
    background-position: 100% 0;
  }

  &-icon {
    font-size: 0;
  }

  path {
    fill: var(--c-white);
  }

  &:not([data-disabled="true"]):active {
    transform: scale(0.95);
  }

  &[data-disabled="true"] {
    position: relative;
    opacity: 0.5;
    cursor: not-allowed;

    &:before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 10;
    }
  }

  &[data-type="secondary"] {
    background: var(--c-martinique);
    gap: 8px;
    padding: 12px 20px;

    path {
      fill: var(--c-lavender);
      transition: 0.2s fill ease-out;
    }

    &:not([data-disabled="true"]):hover {
      color: var(--c-white);

      path {
        fill: var(--c-white);
      }
    }
  }

  &[data-type="tertiary"] {
    border: 1px solid var(--c-martinique);
    background: transparent;
    gap: 8px;
    padding: 12px 20px;

    path {
      fill: var(--c-lavender);
      transition: 0.2s fill ease-out;
    }

    &:not([data-disabled="true"]):hover {
      color: var(--c-white);
      border-color: var(--c-lavender);

      path {
        fill: var(--c-white);
      }
    }
  }
}
