@import "../../assets/css/mixins/medias.scss";

.pill {
  $el: &;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border-radius: 100px;
  border: 1px solid var(--c-martinique);
  color: var(--c-white);
  transition: transform 0.2s ease-out;

  @include max($mobile-s) {
    padding: 4px 8px;
    gap: 4px;
  }

  &:hover {
    #{$el}-plus {
      transform: scale(.9);
    }
  }

  &-icon {
    font-size: 0;

    svg {
      max-width: 20px;
      @include max($mobile-s) {
        height: 18px;
      }
    }
    path {
      fill: var(--c-white);
    }
  }

  &-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;

    @include max($mobile-s) {
      font-size: 14px;
    }

    span {
      & + span {
        color: var(--c-lavender);
      }
    }
  }

  &-plus {
    transition: transform .2s ease-out;
  }

  &[data-focus]:active {
    transform: scale(0.95);
  }
}
