.inputRadioGroup {
  $el: &;

  display: flex;
  gap: 8px;

  &-label {
    cursor: pointer;

    input {
      display: none;

      &:checked + span {
        background-color: var(--c-lavender);
        color: var(--c-martinique);
      }
    }

    span {
      background-color: var(--c-martinique);
      border-radius: 100px;
      padding: 4px 12px;
    }
  }

  &[data-type="large"] {
    #{$el} {
      &-label {
        flex: 1;

        input {
          &:checked + span {
            border-color: transparent;
            color: var(--c-white);
            background-color: #0E0B12;

            &:before {
              opacity: 1;
            }
          }
        }

        span {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 12px;
          background-color: transparent;
          background-clip: padding-box;
          border: solid 1px var(--c-martinique);

          &:before {
            content: '';
            position: absolute;
            opacity: 0;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: -1;
            margin: -1px; 
            border-radius: inherit;
            background: linear-gradient(270deg, #9A23E6 -0.49%, #5519EE 99.51%);
          }

          i {
            color: var(--c-lavender);
          }
        }
      }
    }
  }
}
