@import "../../assets/css/mixins/styles";
@import "../../assets/css/mixins/medias";

.launchpad {
  --wrapper-size: 1280px;
  padding: 0 24px;

  .main-card {
    width: var(--wrapper-size);

    @include max($mobile) {
      padding: 0;
    }
  }
  &-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include max($mobile-s) {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    &-title {
      font-size: 24px;
      font-weight: 600;
      color: var(--c-white);

      span {
        font-size: 32px;

        color: var(--c-fog);
        margin-left: 4px;
      }
    }
    &-right {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  &-list {
    width: var(--wrapper-size);
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;

    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      padding: 40px;
      border: 1px solid var(--c-martinique);
      border-radius: 24px;
    }

    &-label {
      color: var(--c-lavender);
    }

    svg {
      min-width: 40px;
      height: auto;
    }

    circle {
      fill: var(--c-lavender);
    }
  }
}
