$desktop-l: 1920px;
$desktop: 1540px;
$desktop-s: 1300px;
$tablet: 1024px;
$mobile: 768px;
$mobile-s: 620px;

@mixin max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin min($width) {
  @media screen and (min-width: ($width + 1px)) {
    @content;
  }
}
