@charset "UTF-8";

@import "mixins/styles";
@import "mixins/medias";
@import "base/variables";
@import "base/reset";
@import "base/fonts";

html,
body {
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-base);
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  background: url(../img/bg.png) no-repeat center/cover;
  background-blend-mode: saturation, normal;
  color: var(--c-white);
  min-height: 100vh;
  padding-top: var(--header-height);

  @include max($desktop-s) {
    padding-bottom: var(--header-nav-mobile);
  }
}

* {
  scrollbar-color: var(--color-lavender);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 3px;
  background-color: var(--color-martinique);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-lavender);
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.main-card {
  width: 680px;
  padding: 40px;
  border-radius: 20px;
  background-color: rgba(#0c0b0f, 0.4);
  max-width: 100%;
  margin-top: 40px;

  @include max($mobile) {
    background-color: transparent;
  }

  @include max($mobile-s) {
    padding: 16px;
  }

  > * + * {
    margin-top: 24px;
  }

  &-content {
    > * + * {
      margin-top: 24px;
    }

    &[data-disabled="true"] {
      position: relative;
      opacity: 0.5;

      &:before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 10;
      }
    }
  }

  &-title {
    font-size: 48px;
    line-height: 1;
    font-weight: 600;

    @include max($mobile-s) {
      font-size: 32px;
    }
  }

  &-desc {
    font-size: 18px;

    &-highlight {
      color: var(--c-lavender);
      margin-top: 8px;
    }
  }

  &-wrongnetwork {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #ff69c3;
  }

  &-notlogged {
    color: #ff69c3;
  }
}

.input-range {
  * {
    transition: none !important;
  }
  &__label {
    display: none;
  }
  &__track {
    &--active {
      background-color: var(--c-lavender) !important;
    }
    &--background {
      background-color: var(--c-martinique) !important;
    }
  }
  &__slider {
    background-color: var(--c-lavender) !important;
    border-color: var(--c-lavender) !important;
  }
}
