@import "../../assets/css/mixins/medias.scss";

.txProgress {
  display: flex;
  justify-content: center;
  padding: 0 24px;
  margin-bottom: 24px;

  @include max($mobile) {
    width: 100%;
    padding: 0 16px;
  }

  .alert {
    max-width: 100%;
    min-width: 680px;
    justify-content: center;
    text-align: center;

    @include max($mobile) {
      width: 100%;
      min-width: initial;
    }
  }

  .underline {
    text-decoration: underline;
    cursor: pointer;
  }
}
