.launchpadStep {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 48px !important;

  &-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-label {
    font-size: 18px;

    span {
      color: var(--c-lavender);
    }
  }

  &-error {
    color: var(--c-mint-red);
  }

  &-row {
    display: flex;
    gap: 16px;

    .inputNumber {
      width: 100%;
    }
  }

  &-details {
    &-title {
      font-size: 32px;
      margin-bottom: 8px;
    }

    &-row {
      display: flex;
      justify-content: space-between;
      gap: 16px;
      padding: 12px 0;
      font-size: 18px;
      & + & {
        border-top: 1px solid var(--c-martinique);
      }
    }

    &-label {
      color: var(--c-lavender);
    }
  }
}
